@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto';
    background-color: #2A2A2A;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: #111015;
    width: 95%;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.wrapper_1 {
    width: 350px;
}

.left_side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left_side a {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: color 0.3s;
}

.left_side a:hover {
    color: #63b3ed;
}

.left_side svg {
    width: 25px;
    height: 25px;
}

.left_side .location_indicator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-weight: 600;
    font-size: 18px;
}

.menu_box {
    display: none;
    background-color: #1a202c;
    padding: 20px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-in-out;
}

.menu_box .close_box {
    font-family: serif;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    transform: rotate(45deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu_box a {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu_box a:hover {
    color: #63b3ed;
}

.menu_box a svg {
    margin-right: 10px;
}

.menu_box .img_area a {
    display: flex;
    align-items: flex-start !important;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu_box .img_area a:hover {
    color: #63b3ed;
}

.menu_box .img_area a svg {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.menu_box .temp-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.menu_box .temp-options .box {
    width: 40px;
    height: 21px;
    background-color: #718096;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu_box .temp-options .ind-cel,
.menu_box .temp-options .ind-far {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    transition: transform 0.3s ease;
}

.menu_box .temp-options .ind-cel {
    transform: translateX(1px);
}

.menu_box .temp-options .ind-far {
    transform: translateX(20px);
    display: none;
}

.menu_box .temp-options .box.active .ind-cel {
    transform: translateX(31px);
}

.menu_box .temp-options .box.active .ind-far {
    display: block;
    transform: translateX(1px);
}

.menu_box .temp-options .span-1,
.menu_box .temp-options .span-2 {
    font-size: 16px;
    color: #fff;
}

.search_box {
    width: 400px;
}

form {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
}

input {
    width: 60%;
    height: 20%;
    border: none;
    background-color: #3d3d3d;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

input:focus {
    background-color: #282828;
}

.search_box button svg {
    stroke: #fff;
    stroke-width: 3;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper .weather_container {
    width: 100%;
}

.weather_container .headers {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.weather_container .headers .subheaders {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.subheaders button {
    border: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    transition: opacity 0.3s;
}

.subheaders button:hover {
    opacity: 0.8;
}

.weather_container .infa_con {
    margin: 10px 0;
}

.weather_container .infa_con .current_weather,
.weather_container .infa_con .hourly_weather {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather_container .infa_con .current_weather {
    background-color: #2d9bf5b4;
    border: solid #9DCDF3 1px;
}

.weather_container .infa_con .hourly_weather {
    background-color: #1C1C1C;
    border: solid silver 1px;
}

.weather_container .infa_con .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 7px;
    border-bottom: 2px solid #92BFE0;
}

.weather_container .infa_con .hourly_weather .date {
    border-bottom: 2px solid grey;
    color: #fff;
}

.weather_container .infa_con .info_forecast {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    color: #fff;
}

.weather_container .infa_con img {
    position: absolute;
    top: 0;
    right: 0;
}

.weather_container .weather_map {
    position: relative;
    padding-top: 20px;
    margin-top: 55px;
}

.weather_container .weather_map .subheaders {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.weather_container .weather_map #map {
    height: 360px;
    width: 100%;
    border-radius: 5px;
}

.weather_map #map .mapboxgl-canvas {
    width: 100% !important;
}

.stats_container {
    width: 100%;
}

.cities {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 423px;
}

.marker {
    color: #000;
}

.stats_container .cities .header {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.stats_container .city_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 1px -1px 7px grey;
    transition: box-shadow 0.3s;
    gap: 20px;
}

.stats_container .cities .city_box {
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px -1px 7px grey;
    transition: box-shadow 0.3s;
    gap: 10px;
}

.stats_container .cities .city_box:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.carousel-container {
    width: 98%;
    margin: auto 0;
}

.carousel .info_box {
    height: 100%;
    color: #000;
    border-radius: 10px;
    box-sizing: border-box;
}

.slick-prev {
    left: -20px;
}

.slick-next {
    right: -16px;
}

.slick-slide {
    padding: 0 5px;
    box-sizing: border-box;
}

.layer-control {
    display: flex;
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}

.layer-control svg {
    stroke: none;
}

.layer-control label {
    padding: 5px;
    display: block;
    color: #000;
    font-size: 12px;
}

.layer-control input {
    width: 15px;
    margin-right: 3px;
}

.weather-marker {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: #333;
    /* position: relative; */
    border: 2px solid #fff;
}

.weather-marker::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    z-index: -1;
}

.weather-marker .temperature {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-color: #4078B8;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    display: flex;
    padding-top: 3px;
    justify-content: center;
}

.weather-marker img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14px;
}

.weather_layers {
    display: none;
}

.weather_layers .measure {
    display: flex;
    justify-content: space-between;
}

.active-1 {
    width: 120px !important;
    height: 100% !important;
}

.layer-control .active {
    display: block;
}

.layer-control input {
    width: 10px;
    height: 10px;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none;
}

.bar_graph {
    width: 100%;
    height: 280px;
    margin: 0px auto;
}

.rain_container h3 {
    margin: 10px 0 !important;
}
@media(max-width: 400px){
    header{
        gap: 0!important;
    }
    .wrapper_1 .left_side{
        gap: 5px;
    }

    .wrapper_1 .left_side svg{
        width: 20px;
        height: 19px;
    }
    .wrapper_1 .left_side .location_indicator{
        width: fit-content;
        gap: 2px;
    }
    .location_indicator p{
        font-size: 13px!important;
    }
    .search_box .fm_active input{
        height: 25px;
        font-size: 12px!important;
    }
    .search_box .fm_active button{
        height: 25px!important;
        width: 30px!important;
    }
    .search_box form button{
        height: 25px!important;
        width: 25px!important;
    }
    .search_box .fm_active svg{
        height: 15px;
    }
    .weather_container .infa_con .current_weather, 
    .weather_container .infa_con .hourly_weather{
     padding: 0 2px;
     font-size: 14px!important;
     gap: 20px;
    }
}
@media(max-width:600px){
    .location_indicator{
        width: max-content;
    }
}
@media (max-width: 700px) {
    body {
        background-color: rgba(17, 24, 39, 1);
    }
    main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    header {
        flex-direction: row !important;
        justify-content: center !important;
        align-items: flex-end !important;
        gap: 10px;
        padding: 0 !important;
        position: relative;
    }
    header p {
        font-size: 15px !important;
    }
    .wrapper_1 {
        width: 100% !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        margin-bottom: 0 !important;
    }
    .left_side {
        width: 100%;
        min-width: 220px;
        justify-content: flex-start !important;
    }
    .location_indicator {
        justify-content: flex-start !important;
    }
    .wrapper_1 .left_side .l-page {
        display: none;
    }
    .menu_active {
        position: absolute;
        display: block !important;
        min-width: 360px !important;
        height: 500px !important;
        background-color: #1a202c !important;
        top: 0;
        padding: 10px;
        z-index: 5;
    }
    .menu_active a {
        justify-content: flex-start;
    }
    .menu_active .img_area {
        display: block !important;
    }
    .menu_active .temp-options {
        display: flex;
    }
    .menu_active .box {
        width: 50px;
        height: 20px;
        background-color: #fff;
    }
    .menu_active .ind-cel {
        width: 20px;
        height: 100%;
        background-color: #000;
        border-radius: 50%;
    }
    .menu_active .ind-far {
        width: 20px;
        height: 100%;
        background-color: #000;
        border-radius: 50%;
        float: right;
        display: none;
    }
    .menu_box .ind_active {
        display: block;
    }
    .search_box {
        width: 100% !important;
        transition: 0.3s linear;
        margin-bottom: 0;
    }
    .search_box svg {
        width: 20px;
        height: 20px;
    }
    .search_box button {
        width: 35px;
        height: 30px;
    }
    .search_box input {
        font-size: 14px !important;
    }
    form input {
        width: 0 !important;
        background-color: rgba(17, 24, 39, 1) !important;
        transition: 0.7s linear;
    }
    .fm_active {
        width: 100%;
    }
    .fm_active input {
        width: 100% !important;
        transition: 0.7s linear;
        background-color: rgba(55, 65, 81, 1) !important;
    }
    .mode_indicator {
        display: none;
    }
    .weather_container {
        padding: 0px;
    }
    .weather_container .headers .subheaders {
        margin-top: 10px;
        flex-direction: row;
    }
    .weather_container .headers button {
        font-size: 16px;
    }
    .current_weather,
    .hourly_weather {
        height: 220px !important;
        font-size: 15px !important;
        margin-right: 5px !important;
    }
    .info_forecast img {
        width: 45px;
        top: -5px !important;
    }
    .stats_container {
        padding: 0;
        margin-top: 20px;
    }
    .rain_container {
        margin-bottom: 30px;
    }
    .bar_graph {
        margin: 0 !important;
        width: 100% !important;
        margin-bottom: 20px;
    }
    .rain_container h3 {
        margin-bottom: 10px !important;
    }
    .weather_map {
        margin-top: 10px !important;
    }
    .slick-next,
    .slick-prev {
        display: none !important;
    }
    .temp-options {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .temp-options .box {
        width: 50px;
        height: 25px;
        background-color: #ccc;
        border-radius: 25px;
        position: relative;
        cursor: pointer;
    }
    .temp-options .ind-cel,
    .temp-options .ind-far {
        width: 23px;
        height: 23px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        transition: transform 0.3s ease;
    }
    .temp-options .ind-cel {
        transform: translateX(1px);
    }
    .temp-options .ind-far {
        transform: translateX(26px);
        display: none;
    }
    .temp-options .box.active .ind-cel {
        transform: translateX(26px);
    }
    .temp-options .box.active .ind-far {
        display: block;
        transform: translateX(1px);
    }
    .temp-options .span-1,
    .temp-options .span-2 {
        font-size: 14px;
        color: #fff;
    }
    .ic-menu {
        display: block !important;
        cursor: pointer;
    }
}

@media (min-width: 700px) and (max-width: 830px) {
    header {
        flex-direction: row !important;
        justify-content: center !important;
        align-items: flex-end !important;
        gap: 10px;
        position: relative;
    }
    header p {
        font-size: 17px !important;
    }
    .wrapper_1 {
        width: 100% !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        margin-bottom: 0 !important;
    }
    .left_side {
        width: 100%;
        min-width: 220px;
        justify-content: flex-start !important;
    }
    .location_indicator {
        justify-content: flex-start !important;
    }
    .location_indicator svg {
        width: 25px;
        height: 25px;
    }
    .wrapper_1 .left_side .l-page {
        display: none;
    }
    .menu_active {
        position: absolute;
        display: block !important;
        min-width: 360px !important;
        height: 500px !important;
        background-color: #1a202c !important;
        top: 0;
        padding: 10px;
        z-index: 5;
    }
    .menu_active a {
        justify-content: flex-start;
    }
    .menu_active .img_area {
        display: block !important;
    }
    .menu_active .temp-options {
        display: flex;
    }
    .menu_active .box {
        width: 50px;
        height: 20px;
        background-color: #fff;
    }
    .menu_active .ind-cel {
        width: 20px;
        height: 100%;
        background-color: #000;
        border-radius: 50%;
    }
    .menu_active .ind-far {
        width: 20px;
        height: 100%;
        background-color: #000;
        border-radius: 50%;
        float: right;
        display: none;
    }
    .menu_box .ind_active {
        display: block;
    }
    .search_box {
        width: 100% !important;
        transition: 0.3s linear;
    }
    .search_box svg {
        width: 23px;
        height: 23px;
    }
    .search_box button {
        width: 35px;
        height: 30px;
    }
    .search_box input {
        font-size: 17px !important;
    }
    form input {
        width: 0 !important;
        background-color: rgba(17, 24, 39, 1) !important;
        transition: 0.7s linear;
    }
    .fm_active {
        width: 100%;
    }
    .fm_active input {
        width: 100% !important;
        transition: 0.7s linear;
        background-color: rgba(55, 65, 81, 1) !important;
    }
    .mode_indicator {
        display: none;
    }
    .weather_container {
        padding: 0px;
    }
    .weather_container .headers .subheaders {
        margin-top: 10px;
        flex-direction: row;
    }
    .weather_container .headers button {
        font-size: 16px;
    }
    .current_weather,
    .hourly_weather {
        height: 220px !important;
        font-size: 15px !important;
        margin-right: 5px !important;
    }
    .info_forecast img {
        width: 45px;
        top: -5px !important;
    }
    .stats_container {
        padding: 0;
        margin-top: 20px;
    }
    .rain_container {
        margin-bottom: 30px;
    }
    .bar_graph {
        margin: 0 !important;
        width: 100% !important;
        margin-bottom: 20px;
    }
    .rain_container h3 {
        margin-bottom: 10px !important;
    }
    .weather_map {
        margin-top: 10px !important;
    }
    .slick-next,
    .slick-prev {
        display: none !important;
    }
    .temp-options {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .temp-options .box {
        width: 50px;
        height: 25px;
        background-color: #ccc;
        border-radius: 25px;
        position: relative;
        cursor: pointer;
    }
    .temp-options .ind-cel,
    .temp-options .ind-far {
        width: 23px;
        height: 23px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        transition: transform 0.3s ease;
    }
    .temp-options .ind-cel {
        transform: translateX(1px);
    }
    .temp-options .ind-far {
        transform: translateX(26px);
        display: none;
    }
    .temp-options .box.active .ind-cel {
        transform: translateX(26px);
    }
    .temp-options .box.active .ind-far {
        display: block;
        transform: translateX(1px);
    }
    .temp-options .span-1,
    .temp-options .span-2 {
        font-size: 14px;
        color: #fff;
    }
    .ic-menu {
        display: block !important;
        cursor: pointer;
    }
}
@media(min-width: 831px) and (max-width:1049px){
    header{
        gap: 20px;
    }
    .wrapper_1 .location_indicator{
        width: 300px;
        justify-content: flex-start;
    }
    .ic-menu{
        display: none;
    }
    form input {
        width: 0 !important;
        background-color: rgba(17, 24, 39, 1) !important;
        transition: 0.7s linear;
    }
    .fm_active {
        width: 100%;
    }
    .fm_active input {
        width: 75% !important;
        transition: 0.7s linear;
        background-color: rgba(55, 65, 81, 1) !important;
    }
    .mode_indicator{
        width: fit-content;
    }
}
@media (min-width: 1050px) {
    .wrapper .weather_container {
        width: 65%;
    }
    .stats_container {
        width: 35%;
    }
    .left_side .l-page {
        display: none;
    }
    header .left_side .ic-menu {
        display: block !important;
        cursor: pointer;
    }
    header {
        position: relative;
    }
    .menu_active {
        position: absolute;
        display: block !important;
        min-width: 360px !important;
        height: 120px !important;
        background-color: #1a202c !important;
        top: 0;
        padding: 10px;
        z-index: 5;
    }
    .menu_active a {
        justify-content: flex-start;
    }
    .menu_active .img_area {
        display: block !important;
    }
    .menu_active .temp-options {
        display: flex;
        justify-content: flex-start !important;
        grid-gap: 10px;
    }
    .menu_active .box {
        width: 50px;
        height: 20px;
        background-color: #fff;
    }
    .menu_active .ind-cel {
        width: 20px;
        height: 100%;
        background-color: #000;
        border-radius: 50%;
    }
    .menu_active .ind-far {
        width: 20px;
        height: 100%;
        background-color: #000;
        border-radius: 50%;
        float: right;
        display: none;
    }
    .menu_box .ind_active {
        display: block;
    }
    .menu_box {
        display: none;
        background-color: #1a202c !important;
        padding: 20px;
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: slideDown 0.3s ease-in-out;
    }
    .menu_box .close_box {
        font-family: serif;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;
        transform: rotate(45deg);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: slideDown 0.3s ease-in-out;
    }
    .menu_box a {
        display: inline-flex;
        align-items: center;
        margin-bottom: 15px;
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
        display: flex;
        align-items: flex-end !important;
    }
    .menu_box p {
        font-size: 18px !important;
    }
    .menu_box a:hover {
        color: #63b3ed;
    }
    .menu_box a svg {
        margin-right: 10px;
    }
    .menu_box .img_area {
        display: none !important;
    }
    .menu_box .temp-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    .menu_box .temp-options .box {
        width: 40px;
        height: 21px;
        background-color: #718096;
        border-radius: 25px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .menu_box .temp-options .ind-cel,
    .menu_box .temp-options .ind-far {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        transition: transform 0.3s ease;
    }
    .menu_box .temp-options .ind-cel {
        transform: translateX(1px);
    }
    .menu_box .temp-options .ind-far {
        transform: translateX(20px);
        display: none;
    }
    .weather_container .infa_con .current_weather,
    .weather_container .infa_con .hourly_weather {
        height: 220px !important;
    }
    .menu_box .temp-options .box.active .ind-cel {
        transform: translateX(31px);
    }
    .menu_box .temp-options .box.active .ind-far {
        display: block;
        transform: translateX(1px);
    }
    .menu_box .temp-options .span-1,
    .menu_box .temp-options .span-2 {
        font-size: 16px;
        color: #fff;
    }
    .weather_container .infa_con img {
        top: -7px;
        right: 10px;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
